[global]
mail_name = shaoz-he@outlook.com
mail_pass = QaZVzE5OTJ3ZW4xMDMxPlM
gateio_api_key = ******
gateio_api_secret = ******
huobipro_api_key = ******
huobipro_api_secret = ******

[grid]
platform = gateio
token = eos
start_value = 300.0
lowest = 2.5
highest = 3.5
parts = 20
timespan = 15
wechat_reminder = 1
mail_reminder = 0
mail_list = shaoz-he@outlook.com
